# Data Structures

A data structure is a particular way to organize data (multiple variables) in a computer. They are structured in a way, that enables us to access their data efficiently. 

They also allow us to store an arbitrary amount of data. Often times we do not know how much data the user will create or need. So we use data structures to store variable amounts of information.

In this notebook we will discuss Linear data structures known as a `list` and a `tuple`.

# Linear Data structure

A linear data structure organizes it's data in a linear fashion. This means we can diagram the data within the structure as a straight line. Usually, linear data structures maintain the order of their elements and each element is sequenced after the other.

# Tuples and Lists

Tuples and Lists are ordered collections of multiple variables. Instead of creating many different variables. You can collect them all in a single data structure that will keep them in order for you.   

The order is indexed and the index always starts a 0 and end at n-1, where n is the length of the collection. 

| **Index** | 0 | 1 | 2 | 3 |
|-----------|---|---|---|---|
| **Value** | value_1 | value_2 | value_3 | value_4 |

Order in a List and Tuple is maintained by the value's index.

# Tuple

A tuple is a collection which is ordered and immutable. In Python tuples are written with parentheses `()`. 

*Immutable*, means once it's created we may not add, remove nor edit it.

The code below creates an empty tuple:

In [ ]:
my_tuple = ()

Code below creates a tuple with these values. We have created a tuple with “car” at index 0, “cow” at index 1 and “taco” at index 2.

| **Index** | 0 | 1 | 2 |
|-----------|---|---|---|
| **Value** | "car" | "cow" | "taco" |

In [ ]:
my_tuple = ("car", "cow", "taco")

## Tuple Data Retrieval

Using the example from above. We retrieve the first value of the tuple with the following command: 

```python
first_item = my_tuple[0]
```

Notice we use the flat brackets `[]` and a number to access a value in the tuple. The brackets are known as an access operator and the number within the brackets is the index that we'd like to access. The complete syntax is as follows:

`<data structure name>[index]`

**Key**: Remember the access operator `[]` they will be used to access the data from almost all other data structures we learn about. 

Below we are retrieving the last value of the tuple.

```python
last_item = my_tuple[-1]
```

You may notice that the indexing of tuples is similar to the indexing of strings. It's exactly the same!

In the code below:

1) We are creating a tuple.
   
2) Then we are retrieving the 2nd value from the tuple.
   
3) Then printing the value out on the console.

In [ ]:
my_tuple = ("car", "cow", "taco")

second_value = my_tuple[1]

print(f"The second value is: {second_value}")

# List

Lists are exactly like Tuples but they are mutable. This means we can modify them after they are created. We use the flat brackets `[]` to create a list. And we use the flat brackets `[]` to access items in the list too.

The line below creates a list with the specified values.

```python
my_list = ["apple", "banana", "cherry"]
```

Creates an empty list:

```python
my_list = []
```

## Add to a list

We use the `append()` method to add an item to the back of the list.

```python
my_list.append("orange")
```

We use the `insert()` method to add an item to a specific location in a list. The line below adds an element at the 2nd spot in the list and shifts everything to the right one spot.

```python
my_list.insert(1, "grape")
```

Try adding your own fruits to the list below:

In [ ]:
my_list = ["apple", "banana", "cherry"]

my_list # Finish this line by adding your own fruits

print(my_list)

## Removing From List

The `remove()` function removes the first occurrence of a value. The line below removes the first occurrence of “banana” from the list. In other words if the list has multiple “banana” values the first one found will be removed. If banana is not found an error will occur.

```python
my_list.remove("banana")
```

The `del` keyword coupled with the access operator will remove the value at the specified index. The line below removes the element at index 0. If the list size-1 is less than the specified index an error will occur.

```python
del my_list[0]
```

The `clear()` method will remove everything from the list.

```python
my_list.clear()
```

In the cell below remove all the bananas from the list.

In [ ]:
my_list = ["banana", "apple", "banana", "cherry", "banana"]

# remove all the banana's from the list

print(my_list)

# Iteration

Before we can continue we must discuss iteration. When we work with for-loops we are iterating over a collection of items. Each iteration through the loop yields a value from the collection. 

In python we iterate over variables that are iterable. Iterable means something that can be iterated over. For example, we iterate over a string as each successive iteration yields a character in the string. But we cannot iterate over an integer the same way. 

An iterable data type produces a iterator which is an object that the for-loop uses to iterate over. 

Below is an example of a for-loop where we are iterating over each character in the variable `my_string` and printing it out.

In [ ]:
my_string = "Hippos Dance"

for char in my_string:
    print(char)

Below is another example of how we may use for-loops in combination with the `range()` function to iterate over a sequence of numbers from 0 - 10.

In [ ]:
for num in range(11):
    print(num)

We can iterate over a list or tuple in the same way. The example below we create a list of fruits and then we prints every value in the list. In

*This syntax works the exact same way for tuples as well.*

In [ ]:
my_list = ["apple", "banana", "cherry", "melon"]

for x in my_list:
	print(x)